page{
    width: 100%;
    height: 100%;
}
.list-container{
    width: 100%;
    height: 100%;
    background: #fafafa;
    .sort{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80rpx;
        background: #fff;
        .item{
            width: 25%;
            height: 100%;
            font-size: 32rpx;
            color: #333;
            border-bottom: 4rpx #fff solid;;
        }
        .active{
            color: #F483AD;
            border-bottom: 4rpx #F483AD solid;;
        }
        image{
            width: 40rpx;
        }
        .menu{
            width: 20%;
        }
    }
}